feedparser
SQLAlchemy
mlx-whisper
fastapi
uvicorn
apscheduler
plyer 
fastapi 
uvicorn 
jinja2
tqdm
openai>=1.0.0
python-dotenv
pydub
openlit
ollama
markdown2
tiktoken==0.6.0
langchain-text-splitters>=0.0.1